.mc{color:#1F114C;width:100px;}
.sr{background:url(/domain/app/login/input.gif) no-repeat; width:159px; height:25px; line-height:25px; border:0px; padding-left:4px;}
.btn{cursor:hand}
.srr{width:159px; height:25px; line-height:25px; border:0px; padding-left:4px;background-color:#E1E6EC;}
.reg{color:FF6633;text-align:center;font-size:14px;font-weight:bold;}  

