.s{visibility:visible;}
.s0{visibility:hidden;}
.s1{visibility:hidden;}
.s2{visibility:hidden;}
.s4{visibility:hidden;}

.sb{visibility:visible;}
.sb0{visibility:hidden;}
.sb2{visibility:hidden;}
.sb1{visibility:hidden;}
.sb4{visibility:hidden;}

.ssb00{visibility:hidden;}
.ssb10{visibility:visible;}
.ssb40{visibility:hidden;}
.ssb01{visibility:hidden;}
.ssb11{visibility:hidden;}
.ssb41{visibility:hidden;}
.ssb0{visibility:hidden;}
.ssb1{visibility:hidden;}


.a1{visibility:hidden;}
.a0{visibility:visible;}