.s{visibility:visible;}
.s0{visibility:hidden;}
.s1{visibility:hidden;}
.s2{visibility:hidden;}
.s4{visibility:hidden;}

.sf0{visibility:hidden;}
.sf1{visibility:visible;}

.a0{color:blue;}
.s5{visibility:hidden;}

.aaa{visibility:hidden;}


.t{visibility:hidden;}
.t1{visibility:hidden;}
.t2{visibility:visible;}
.t3{visibility:hidden;}
.t4{visibility:hidden;}
.t5{visibility:hidden;}