.f0{width:43px;}
.f1{width:92px;}
.f15{width:140px;}
.f2{width:190px;}
.f4{width:438px;}
.f5{width:513px;}
.f6{width:602px;}
.x2{width:190px;background-color:#f0ffff;}
.x6{width:602px;background-color:#f0ffff;}
.preview{text-align:center}


