.f2{width:220px;}
.f6{width:613px;}
.x6{width:613px;background-color:#f0ffff;}
.s1{width:50px;}
.s2{width:200px;}
.y2{width:200px;background-color:#f0ffff;}

.preview{margin:2px 10px;font-style:normal}
.title{padding-top:1px;padding-bottom:1px;}
.error{color:red;font-weight:normal}
