.FLP{}
.FLB{color:red;}

.FLTT input,img{vertical-align:middle;}
.FLTS{height:20px;color:#336699;display:none;}

.FLDU{margin: -160px 0 0 -110px;width: 200px;height: 286px;}
.FLDU iframe{background-color:#fff;width: 200px;height:286px;}
