.FLP{}
.FLB{color:red;}

.FLTT input,img{vertical-align:middle;}
.FLTS{height:20px;color:#336699;display:none;}

.FLDU{margin: -220px 0 0 -200px;width: 300px;height: 365px;}
.FLDU iframe{background-color:#fff;width: 300px;height:365px;}
