body{margin:0px;background-color:#d4d0c8;border-top:1px #fff solid;border-bottom:1px #808080 solid;}/*padding:1px 0;*/

.B{height:20px;background-color:#d4d0c8;border-top:1px #d4d0c8 solid;border-bottom:1px #d4d0c8 solid;}

.user{text-align:right;padding-right:5px;}
.user a{color:#000}
